html {
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background: #eee;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    line-height: 0.5em;
    margin: 0.8em 0;
    color: rgba(0, 0, 0, 0.3);
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
    color: rgba(0, 0, 0, 0.3);
}

.container {
    width: 70%;
    max-width: 960px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.column {
    flex: 1;
}

.quick-select {
    margin-bottom: 15px;
    padding: 15px;
    background: #ffffff;
    border-radius: 4px;
}

.buttons {
    display: flex;
}

.buttons button {
    background: #4caf50;
    outline: 0;
    border: 0;
    border-radius: 4px;
    padding: 10px;
    margin-right: 10px;
    font-size: 1em;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
}
