html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  box-sizing: border-box;
}

body {
  background: #221e1f;
}

h1 {
  font-family: 'deutsch_gothicnormal', Arial, sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  letter-spacing: 0.1rem;
  line-height: 0.5em;
  margin: 0.8em 0;
  color: #5f6061;
}

h2 {
  font-family: 'deutsch_gothicnormal', Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
  color: rgba(0, 0, 0, 0.3);
}

.title {
  font-size: 3em;
  text-align: center;
}

.container {
  width: 70%;
  max-width: 960px;
  margin: 0 auto;
  margin-top: 75px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.column {
  flex: 1;
}

.quick-select {
  margin-bottom: 15px;
  padding: 15px;
  background: #ffffff;
  border-radius: 4px;
}

.buttons {
  display: flex;
}

button {
  background: #4caf50;
  outline: 0;
  border: 0;
  border-radius: 4px;
  padding: 10px;
  margin-right: 10px;
  font-size: 1em;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
}
